HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local ###
.DS_Store
db/Oracle
src/main/resources/application-dev.yml

### Frontend ###
material-kit-react-main/node_modules
material-kit-react-main/.pnp
material-kit-react-main/.pnp.js
# testing
material-kit-react-main/coverage
# production
material-kit-react-main/build
# misc
material-kit-react-main/.vscode
material-kit-react-main/.DS_Store
material-kit-react-main/.env.local
material-kit-react-main/.env.development.local
material-kit-react-main/.env.test.local
material-kit-react-main/.env.production.local
material-kit-react-main/npm-debug.log*
material-kit-react-main/yarn-debug.log*
material-kit-react-main/yarn-error.log*
material-kit-react-main/package-lock.json
material-kit-react-main/yarn.lock
material-kit-react-main/commit.sh