HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local ###
.DS_Store
db/Oracle

### Frontend ###
wow-web/node_modules
wow-web/.pnp
wow-web/.pnp.js
# testing
wow-web/coverage
# production
wow-web/build
# misc
wow-web/.DS_Store
wow-web/.env.local
wow-web/.env.development.local
wow-web/.env.test.local
wow-web/.env.production.local
wow-web/npm-debug.log*
wow-web/yarn-debug.log*
wow-web/yarn-error.log*